<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col-8">
      <h2>Persoane</h2>
    </div>
    <div class="col-4 text-right">
      <button class="btn btn-primary" (click)="openModal()">Adaugă</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Caută..." [(ngModel)]="searchTerm" (input)="onSearch()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nume/Prenume</th>
            <th>CNP</th>
            <th>Vârsta</th>
            <th>Mașini</th>
            <th>Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of filteredPersons; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ person.nume }} {{ person.prenume }}</td>
            <td>{{ person.cnp }}</td>
            <td>{{ person.varsta }}</td>
            <td>
              <div *ngFor="let car of person.cars">
                {{ car.marca }} {{ car.model }} ({{ car.an_fabricatie }}) - {{ car.capacitate_cilindrica }} cm³ - {{ car.taxa_impozit }} lei
              </div>
              <div *ngIf="!person.cars || person.cars.length === 0">
                Nu are mașini.
              </div>
            </td>
            <td>
              <button class="btn btn-sm btn-info mr-2" (click)="openModal(person)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="confirmDelete(person)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="!filteredPersons || filteredPersons.length === 0">
            <td colspan="6" class="text-center">Nu există persoane.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
